* {
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

body {
    display: flex;
    flex-direction: column;
}
#ip{
    color: rgb(240, 237, 237);
    font-size: 26px;
    margin-left: 200px;
}
#ipDetails {
    display: flex;
    flex-direction: column;
    padding: 2%;
    font-weight: 700;
    font-size: 34px;
    width: 600px;
    height: 200px;
}

#details {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

.first-line,.second-line {
    padding: 2%;
    display: flex;
   gap: 50px;
    font-size: 22px;
    margin-left: 180px;
    
}

#map {
    /* width: 88vw; */
    /* height: 80vh; */
   
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 90, 133, 1);
    object-fit: contain;
}

#map p {
    background-color: transparent;
    font-size: 40px;
    font-weight: 700;
    color: rgba(184, 188, 204, 1);
    margin-bottom: 20px;
    padding: 20px;
    margin-top: -60px;
}

/* Mpre Info */
#moreInfo {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 20px;
}

#moreInfo>p {
    align-self: center;
    font-size: 48px;
    font-weight: 700;
    color: rgba(184, 188, 204, 1);
}

#moreInfo>div p {
    color: rgba(184, 188, 204, 0.5);
    font-weight: 700;
    font-size: 34px;
}
#postOfficeList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
#postOfficeList>p {
    font: Montserrat;
    color:#B8BCCC
    ;
}
